

body {
  margin:0;
  overflow: hidden;
}

.options {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right:30px;
  top: 30px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

button {
  background-color: white;
  border: 0px white;
}

button:active
{
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}